body {
background: rgb(248, 187, 214);
font: normal 20pt Arial;

}
header{
    color: white;
    text-align: center;

}
section {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 700px;
    height: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}
select#flista {
    width: 200px;
    height: 150px;
    

}

#res {
    color: rgb(255, 124, 203); 
    font: normal 13pt Arial;

}
